html
{
    font-size: $font-size;

    overflow-y: scroll;
}

body
{
    font-family: $font-main;
    font-size: 1rem;
}

a
{
    color: $color-primary;

    &:hover,
    &:focus
    {
        text-decoration: none;

        color: $color-accent;
    }
}

h1
{
    font-family: $font-header;
    font-size: 3rem;

    margin-top: -7px;
    margin-bottom: $gap * 3;
}

h2
{
    font-family: $font-header;
    font-size: 2.5rem;

    margin: ($gap * 4) 0 ($gap * 3) ($gap * 3);
}

h3
{
    font-size: 1rem;

    margin: 0;
}
