.footer
{
    padding-top: 45px;

    background-color: $color-dark;
}



.footer-row
{
    margin-right: -$gap;
    margin-left: -$gap;
}

.footer-nav
{
    &__title
    {
        color: darken($color-light, 5.5%);
    }

    &__list
    {
        margin-right: 0;
        margin-bottom: 10px;
        margin-left: 0;
        padding-left: 0;

        list-style: none;
    }

    &__item
    {
        a
        {
            color: darken($color-gray, 40%);

            &:hover,
            &:focus
            {
                color: $color-light;
            }
        }
    }
}


.copyright
{
    font-weight: 700;

    margin: 20px 0;

    text-align: center;


    a
    {
        color: $color-light;
    }
}
